<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Modulapp - Live Demo</title>
        <meta name="keywords" content="modulapp marionette webpack localstorage emaphp" />
        <meta name="description" content="A live demo of Modulapp" />
        {{#if includeAnalitycs }}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', {{uaid}}, 'auto');
          ga('send', 'pageview');
        </script>
        {{/if}}
        <script src="main.js"></script>
    </head>
    <body></body>
</html>
