<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Modulapp</title>
        <meta name="keywords" content="modulapp marionette webpack localstorage emaphp" />
        <meta name="description" content="A live demo of Modulapp" />
        <script src="main.js"></script>
    </head>
    <body></body>
</html>
